<div class="container mt-4">
  <div class="d-flex justify-content-between mb-2">
    <button
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#addDemandeModal"
    >
      Add New Demande
    </button>
  </div>

  <!-- Demande List -->
  <div *ngIf="demandes.length; else noDemandes">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Subject</th>
          <th scope="col">Description</th>
          <th scope="col">Date</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let demande of demandes; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ demande?.sujet }}</td>
          <td>{{ demande.description }}</td>
          <td>{{ demande.dateCreation | date }}</td>
          <td>{{ demande.etat }}</td>
          <td>
            <button
              class="btn btn-info btn-sm"
              data-bs-toggle="modal"
              data-bs-target="#updateDemandeModal"
              (click)="selectDemande(demande)"
            >
              Edit
            </button>
            <button
              class="btn btn-danger btn-sm"
              (click)="deleteDemande(demande.id)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #noDemandes>
    <p>No demandes found.</p>
  </ng-template>

  <!-- Add Demande Modal -->
  <div
    class="modal fade"
    id="addDemandeModal"
    tabindex="-1"
    aria-labelledby="addDemandeModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addDemandeModalLabel">Add New Demande</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="addDemande(addForm.value)">
            <div class="mb-3">
              <label for="sujet" class="form-label">Subject</label>
              <input
                type="text"
                class="form-control"
                id="sujet"
                name="sujet"
                ngModel
                required
              />
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Description</label>
              <textarea
                class="form-control"
                id="description"
                name="description"
                ngModel
                required
              ></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Add Demande</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Update Demande Modal -->
  <div
    class="modal fade"
    id="updateDemandeModal"
    tabindex="-1"
    aria-labelledby="updateDemandeModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateDemandeModalLabel">
            Update Demande
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form #updateForm="ngForm" (ngSubmit)="updateDemande()">
            <div class="mb-3">
              <label for="sujetUpdate" class="form-label">Subject</label>
              <input
                type="text"
                class="form-control"
                id="sujetUpdate"
                name="sujet"
                [(ngModel)]="selectedDemande!.sujet"
                required
              />
            </div>
            <div class="mb-3">
              <label for="descriptionUpdate" class="form-label"
                >Description</label
              >
              <textarea
                class="form-control"
                id="descriptionUpdate"
                name="description"
                [(ngModel)]="selectedDemande!.description"
                required
              ></textarea>
            </div>
            <button type="submit" class="btn btn-primary">
              Update Demande
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
